Workflow-4 Cold Lead Re-engagement.json
{
  "name": "Cold Lead Re-engagement",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        7376,
        2816
      ],
      "id": "a4f4d6c4-9e04-43f6-940a-d6b46c248b0e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appJfSt8YbO1NAWjA",
          "mode": "list",
          "cachedResultName": " Real Estate CRM",
          "cachedResultUrl": "https://airtable.com/appJfSt8YbO1NAWjA"
        },
        "table": {
          "__rl": true,
          "value": "tblOm3pbIKIYXl7p4",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appJfSt8YbO1NAWjA/tblOm3pbIKIYXl7p4"
        },
        "filterByFormula": "{Status} = \" Cold\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        7616,
        2816
      ],
      "id": "e3f0b2db-fb6c-43f0-9ad3-5c7970838bff",
      "name": "Search records"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer "
            },
            {
              "name": "Content_Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o-mini"
            },
            {
              "name": "max_tokens",
              "value": "={{ 1024 }}"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"system\", \"content\": \"You are a real estate assistant. Return ONLY valid JSON, nothing else.\"}, {\"role\": \"user\", \"content\": \"Write a warm personalised re-engagement email for a cold real estate lead.\\n\\nLead Name: \" + $json['Lead Name'] + \"\\nProperty Interest: \" + $json['Property Interest'] + \"\\nBudget: \" + $json['Budget'] + \"\\n\\nReturn exactly:\\n{\\\"subject\\\": \\\"email subject line\\\",\\n\\\"body\\\": \\\"warm personalised email body\\\"}\\n\\nKeep it short, friendly, and not salesy. Mention their specific property interest. Return ONLY JSON, nothing else.\"}] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7824,
        2816
      ],
      "id": "9cac44d7-a1e3-4c4c-94fe-3f19e67a55e2",
      "name": "Re-engagement Message"
    },
    {
      "parameters": {
        "jsCode": "const content = $input.first().json.choices[0].message.content;\nconst clean = content.replace(/```json|```/g, \"\").trim();\nconst parsed = JSON.parse(clean);\n\nreturn [{\n  json: {\n    subject: parsed.subject,\n    body: parsed.body,\n    Lead_Name: $('Search records').first().json.fields['Name'],\n    Contact: $('Search records').first().json.fields['Contact'],\n    Record_ID: $('Search records').first().json.id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8000,
        2816
      ],
      "id": "00610c7b-201f-4907-a29e-1bdf68bef114",
      "name": "Parse Re-engagement Message"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Contact }}",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        8176,
        2816
      ],
      "id": "c177fd58-b608-44cd-be5c-13b8c0f78ba3",
      "name": "Cold Lead Re-engagement",
      "webhookId": "8a2ea6b0-ab8d-4a57-a31a-30f40baca145"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appJfSt8YbO1NAWjA",
          "mode": "list",
          "cachedResultName": " Real Estate CRM",
          "cachedResultUrl": "https://airtable.com/appJfSt8YbO1NAWjA"
        },
        "table": {
          "__rl": true,
          "value": "tblOm3pbIKIYXl7p4",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appJfSt8YbO1NAWjA/tblOm3pbIKIYXl7p4"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.Record_ID }}",
            "Last Contact": "={{ new Date().toISOString().split('T')[0] }}",
            "Score": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Instagram",
                  "value": "Instagram"
                },
                {
                  "name": "Facebook",
                  "value": "Facebook"
                },
                {
                  "name": "Whatsapp",
                  "value": "Whatsapp"
                },
                {
                  "name": "Typeform",
                  "value": "Typeform"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "BUY",
                  "value": "BUY"
                },
                {
                  "name": "RENT",
                  "value": "RENT"
                },
                {
                  "name": "BROWSING",
                  "value": "BROWSING"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Urgency",
              "displayName": "Urgency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "HIGH",
                  "value": "HIGH"
                },
                {
                  "name": "MEDIUM",
                  "value": "MEDIUM"
                },
                {
                  "name": "LOW",
                  "value": "LOW"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tag",
              "displayName": "Tag",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "HOT",
                  "value": "HOT"
                },
                {
                  "name": "WARM",
                  "value": "WARM"
                },
                {
                  "name": "COLD",
                  "value": "COLD"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Property Interest",
              "displayName": "Property Interest",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Awaiting Booking",
                  "value": "Awaiting Booking"
                },
                {
                  "name": " Viewing Booked",
                  "value": " Viewing Booked"
                },
                {
                  "name": "Document Pending",
                  "value": "Document Pending"
                },
                {
                  "name": "Nurture",
                  "value": "Nurture"
                },
                {
                  "name": " Cold",
                  "value": " Cold"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                },
                {
                  "name": "Awaiting feedback",
                  "value": "Awaiting feedback"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Closed",
              "displayName": "Closed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Contact",
              "displayName": "Last Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Submitted At",
              "displayName": "Submitted At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Viewing Date",
              "displayName": "Viewing Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        8496,
        2816
      ],
      "id": "cfc72519-d2a2-4fd1-9f62-1bc2f2520c54",
      "name": "Update Last Contact"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a534913f-1f4f-4668-929f-286a5d459b33",
              "name": "Record_ID",
              "value": "={{ $('Parse Re-engagement Message').item.json.Record_ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8336,
        2816
      ],
      "id": "a8b1bd4f-84e1-462e-ad0a-902c69f1cf2e",
      "name": "Carry Record_ID"
    },
    {
      "parameters": {
        "content": "## STAGE 1 - SCHEDULED TRIGGER\n### Runs every 30 days automatically. Finds all leads with Cold status.",
        "height": 304,
        "width": 432,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7312,
        2688
      ],
      "typeVersion": 1,
      "id": "6de00b0f-3954-4fa8-b594-eb1a3094ef6c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## STAGE 2 - AI MESSAGE GENERATION\n### OpenAI writes a personalized re-engagement\nmessage based on each lead's property interest.",
        "height": 320,
        "width": 384,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7760,
        2672
      ],
      "typeVersion": 1,
      "id": "c52c82c6-1268-4791-9b6c-0100682a41d6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## STAGE 3 - RE-ENGAGEMENT & UPDATE\n### Personalized email sent to each cold lead. Last Contact date updated in Airtable.",
        "height": 288,
        "width": 608,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8160,
        2704
      ],
      "typeVersion": 1,
      "id": "fb820344-7d6b-4065-8eca-a6aa93ca2013",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Re-engagement Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-engagement Message": {
      "main": [
        [
          {
            "node": "Parse Re-engagement Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Re-engagement Message": {
      "main": [
        [
          {
            "node": "Cold Lead Re-engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cold Lead Re-engagement": {
      "main": [
        [
          {
            "node": "Carry Record_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carry Record_ID": {
      "main": [
        [
          {
            "node": "Update Last Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a40711b2-7eeb-428c-a75e-149f1fb0cfe7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4894e6668c6b287c01226b0c31b352999bde257c00f16aaa5a3d211d1541e55a"
  },
  "id": "dP2itJXWPltqXNDH",
  "tags": []
}