Clarity Coaching Co. - Intake to Onboarding Automation/Stage 5 Intake Form Return.json
{
  "name": "Stage 5 Intake Form Return",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2094fe2d-1586-471f-ae30-7705cad659d4",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        -48
      ],
      "id": "6f4ffb1d-1a19-4626-b9a9-d53402f42824",
      "name": "Intake Form Received",
      "webhookId": "2094fe2d-1586-471f-ae30-7705cad659d4"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appfq31fCvXPxfpWP",
          "mode": "list",
          "cachedResultName": "Coaching Leads",
          "cachedResultUrl": "https://airtable.com/appfq31fCvXPxfpWP"
        },
        "table": {
          "__rl": true,
          "value": "tbl5lBAQ81vvXMsZK",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appfq31fCvXPxfpWP/tbl5lBAQ81vvXMsZK"
        },
        "filterByFormula": "={Email} = \"{{ $('Intake Form Fields').item.json.Email }}\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        224,
        -48
      ],
      "id": "0d051c8b-5502-4a88-b9b6-9a5f8893817c",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "YXZJ51FExYdWlAhE",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appfq31fCvXPxfpWP",
          "mode": "list",
          "cachedResultName": "Coaching Leads",
          "cachedResultUrl": "https://airtable.com/appfq31fCvXPxfpWP"
        },
        "table": {
          "__rl": true,
          "value": "tbl5lBAQ81vvXMsZK",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appfq31fCvXPxfpWP/tbl5lBAQ81vvXMsZK"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ready_To_Book": false,
            "id": "={{ $('Search records').item.json.id }}",
            "Intake_Notes": "={{ $('Intake Form Fields').item.json.Current_Situation + ' / ' + $('Intake Form Fields').item.json.Desired_Outcome }}",
            "Score": 0,
            "Status": "=Intake Received"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timezone",
              "displayName": "Timezone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Package",
              "displayName": "Package",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ready_To_Book",
              "displayName": "Ready_To_Book",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tag",
              "displayName": "Tag",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Awaiting Booking",
                  "value": "Awaiting Booking"
                },
                {
                  "name": "Booked",
                  "value": "Booked"
                },
                {
                  "name": "Nurture",
                  "value": "Nurture"
                },
                {
                  "name": "Intake Received",
                  "value": "Intake Received"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Submitted_At",
              "displayName": "Submitted_At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call_Date",
              "displayName": "Call_Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Intake_Notes",
              "displayName": "Intake_Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Intake Received ",
              "displayName": "Intake Received ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [],
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        432,
        -48
      ],
      "id": "de5da207-75c3-4f68-b13e-f886ce28ccee",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "YXZJ51FExYdWlAhE",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b68ed7ee-be39-4c01-bb2c-af5a5fb6329f",
              "name": "=Name",
              "value": "={{ $json.body.form_response.answers[0].text }}",
              "type": "string"
            },
            {
              "id": "1a200179-bf8b-4fee-8323-9c936f527b7a",
              "name": "=Email",
              "value": "={{ $json.body.form_response.answers[1].email }}",
              "type": "string"
            },
            {
              "id": "118c72d5-2513-41af-a1f4-9be61b72f1c2",
              "name": "=Current_Situation",
              "value": "={{ $json.body.form_response.answers[2].text }}",
              "type": "string"
            },
            {
              "id": "89f9cf28-045c-4589-aa0a-db8e618e61e7",
              "name": "=Desired_Outcome",
              "value": "={{ $json.body.form_response.answers[3].text }}",
              "type": "string"
            },
            {
              "id": "6938c937-a9f6-4550-b92d-f2066b8189ef",
              "name": "=Biggest_Obstacle",
              "value": "={{ $json.body.form_response.answers[4].text }}",
              "type": "string"
            },
            {
              "id": "1a6f873b-5685-4fc7-8590-0ae752f6bfc0",
              "name": "=Coached_Before",
              "value": "={{ $json.body.form_response.answers[5].boolean }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -48
      ],
      "id": "dd18967d-3075-4595-bb7c-849ba34cd948",
      "name": "Intake Form Fields"
    },
    {
      "parameters": {
        "content": "INTAKE FORM TRIGGER\nTypeform intake form submission fires this workflow. Client answers are extracted and mapped for processing.",
        "height": 272,
        "width": 384,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -160
      ],
      "typeVersion": 1,
      "id": "d9f687e8-caa8-40e4-b224-31267b287511",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "CRM UPDATE\nAirtable searched for existing lead record by email. Status updated to Intake Received. Intake notes saved to client record.",
        "height": 272,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -160
      ],
      "typeVersion": 1,
      "id": "2f613561-6b89-42d0-89f9-e1d3700a6246",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "COACH NOTIFICATION\nCoach receives a pre-call brief with\nthe client's current situation, desired\noutcome, biggest obstacle and coaching history. Ready for the call.",
        "height": 272,
        "width": 304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        -160
      ],
      "typeVersion": 1,
      "id": "ba6fbb42-0c6a-427d-8841-dbca4466c02d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "sendTo": "kelvinjr995@gmail.com",
        "subject": "={{ 'Intake received - ' + $('Intake Form Fields').item.json.Name + ' - call coming up' }}",
        "emailType": "text",
        "message": "=Hi Sarah,  \n\nThe intake form for {{ $('Intake Form Fields').item.json.Name }} just came in.  \n\nHere is what they shared: \n\nCurrent situation: {{ $('Intake Form Fields').item.json.Current_Situation }} \nDesired outcome: {{ $('Intake Form Fields').item.json.Desired_Outcome }}\nBiggest obstacle: {{ $('Intake Form Fields').item.json.Biggest_Obstacle }}\nWorked with a coach before: {{ $('Intake Form Fields').item.json.Coached_Before }} \n\nYou are all set for your call.  \n\nGoodluck.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        640,
        -48
      ],
      "id": "f2750609-f0e0-4e46-ae53-522bc811410f",
      "name": "Notify Coach",
      "webhookId": "a3f7ce24-dea6-4130-ad04-aaf68dcce451",
      "credentials": {
        "gmailOAuth2": {
          "id": "1KJGxtdver2xgn6G",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Intake Form Received": {
      "main": [
        [
          {
            "node": "Intake Form Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Notify Coach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intake Form Fields": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "yMfb3hSpUHutYErb",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "a4e0f1bf-a532-402b-8ee4-92a1125e619d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9c853ab76e519f468592af3f0d580aaace661c238ec2ceb3aa41ea59a8c51a9b"
  },
  "id": "nhRXEytImtunytUN",
  "tags": []
}